---
import '../styles/global.scss';
import '../styles/btnexpand.scss';
import { Icon } from 'astro-icon/components';
const { icon1, icon2, icon3, text1, text2, text3 } = Astro.props;
---
<nav class="btnexpand">
  <a href=""><Icon name={icon1}/><p>{text1}</p></a>
  <a href=""><Icon name={icon2}/><p>{text2}</p></a>
  <a href=""><Icon name={icon3}/><p>{text3}</p></a>
</nav>
